@model UpdateAuctionDto

@{
    ViewData["Title"] = "تعديل مزاد ";
    Layout = null;
}

<form asp-action="Update" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NumberOfPieces" class="control-label"></label>
                <input asp-for="NumberOfPieces" class="form-control" />
                <span asp-validation-for="NumberOfPieces" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input asp-for="Attachments" class="form-control" />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DOAuction" class="control-label"></label>
                <input asp-for="DOAuction" class="form-control" />
                <span asp-validation-for="DOAuction" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RealEstateId" class="control-label"></label>
                <select asp-for="RealEstateId" class="form-control" asp-items="@ViewBag.realEstate"></select>
                <span asp-validation-for="RealEstateId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourtType" class="control-label"></label>
                <select asp-for="CourtType" class="form-control">
                    <option value="@CourtType.Gaza">محكمة غزة</option>
                    <option value="@CourtType.Khanyounis">محكمة خانيونس</option>
                </select>
                <span asp-validation-for="CourtType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AuctionType" class="control-label"></label>
                <select asp-for="AuctionType" class="form-control">
                    <option value="@AuctionType.Person">فردي</option>
                    <option value="@AuctionType.JudgmentMinistry"> تابع لوزارة العدل</option>
                </select>
                <span asp-validation-for="AuctionType" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="تعديل" class="btn btn-primary" />
        <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
    </div>
</form>

<hr />

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>

    @*@foreach (var x in Model.AuctionDbAttchment)
    {*@
        <tr>
            <th>
                @*@x.AttachmentUrl*@
            </th>
            <th>
                <a target="_blank" href="" class="btn btn-info">Go to File</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </th>
        </tr>
    @*  *@}
    </table>



<script>
    PageLoadActions();
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>