@{ ViewData["Title"] = "الصفحة الرئيسية"; }
@model DashboardViewModel
    <link href="~/css/myHomeCss.css" rel="stylesheet" />
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">*@



    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h1 class="card-label">
                    إحصائيات
                </h1>
            </div>
        </div>

        <div class="card-body">
            <!-- Start Statices Setion -->
            <section class="Statices text-center">
                <div class="Statices-back" style="background-color: #efecec">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="static-box  wow bounceInDown" data-wow-duration=".5s">
                                    <img src="~/ThemImages/Home header/administrator.png" alt="Customer Service">
                                    <h2 style="color:#a1a1a1">عدد المستخدمين</h2>     
                                    <p class="lead mx-auto">@Model.NoumberOfUsers</p>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay=".5s" >
                                    <img src="~/ThemImages/Home header/ancient.png" alt="businessman">
                                    <h2 style="color:#a1a1a1">عدد العقارات</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfRealEstate</p>


                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay="1s">
                                    <img src="~/ThemImages/Home header/bars-chart-1.png" alt="crm">
                                    <h2 style="color:#a1a1a1">عدد التصنيفات</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfCategory</p>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay="1.5s" >
                                    <img id="img-1" src="~/ThemImages/Home header/text-lines-3.png" alt="browser">
                                    <h2 style="color:#a1a1a1">عدد الإعلانات</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfAdvertisment</p>

                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                        <div class="row" style="margin-top:40px">
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay="2s" >
                                    <img src="~/ThemImages/Home header/wikipedia-1.png" alt="Customer Service">
                                    <h2 style="color:#a1a1a1">عدد العقود</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfContracts</p>


                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay="2.5s">
                                    <img class="img-fluid" src="~/ThemImages/Home header/webcam.png" alt="businessman">
                                    <h2 style="color:#a1a1a1">عدد المواقع</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfLocation</p>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="static-box wow bounceInDown" data-wow-duration=".5s" data-wow-delay="3s">
                                    <img src="~/ThemImages/Home header/customer-service.png" alt="crm">
                                    <h2 style="color:#a1a1a1">عدد الزبائن</h2>
                                    <p class="lead mx-auto">@Model.NoumberOfCustomer</p>
                                </div>
                            </div>

                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- end Statices-back -->
            </section>
            <!-- End Statices Setion -->


            <br />
            <hr />


            <div class="row">
                <div class="col-md-6 text-center wow animate__backInLeft" data-wow-duration=".5s" data-wow-delay=".5s"data-wow-offset="200">
                    <h3>توزيع المستخدمين حسب النوع </h3>
                    <canvas id="myUserChart" width="400" height="400"></canvas>
                </div>

                <div class="col-md-6 text-center wow animate__backInLeft" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="200">
                    <h3>توزيع العقارات حسب النوع </h3>
                    <canvas id="myRealEstateChart" width="400" height="400"></canvas>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6 text-center offset-3 wow animate__backInUp" data-wow-duration=".5s" data-wow-offset="200">
                    <h3>توزيع العقود حسب النوع </h3>
                    <canvas id="myContractChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

    </div>


    @section Scripts{

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    
        <script>

            var userTypeCanvas = document.getElementById('myUserChart').getContext('2d');
            var RealEstateTypeCanvas = document.getElementById('myRealEstateChart').getContext('2d');
            var ContractTypeCanvas = document.getElementById('myContractChart').getContext('2d');


            var myUserChartLabels = [];
            var myUserChartValues = [];
            var myUserChartColores = [];

            var myRealEstateChartLabels = [];
            var myRealEstateChartValues = [];
            var myRealEstateChartColores = [];

            var myContractChartLabels = [];
            var myContractChartValues = [];
            var myContractChartColores = [];

            $.ajax({
                url: "/Home/GetContractCharData", success: function (result) {
                    $(result).each(function (index) {
                        myContractChartLabels.push(result[index].key);
                        myContractChartValues.push(result[index].value);
                        myContractChartColores.push(result[index].color);
                    });
                    var ContractTypeChart = new Chart(ContractTypeCanvas, {
                        type: 'pie',
                        data: {
                            labels: myContractChartLabels,
                            datasets: [{
                                label: '# of Votes',
                                data: myContractChartValues,
                                backgroundColor: myContractChartColores
                            }]
                        },
                        options: {

                        }
                    });
                }
            });

            $.ajax({
                url: "/Home/GetUserRealEstateData", success: function (result) {
                    $(result).each(function (index) {
                        myRealEstateChartLabels.push(result[index].key);
                        myRealEstateChartValues.push(result[index].value);
                        myRealEstateChartColores.push(result[index].color);
                    });
                    var RealEstateTypeChart = new Chart(RealEstateTypeCanvas, {
                        type: 'pie',
                        data: {
                            labels: myRealEstateChartLabels,
                            datasets: [{
                                label: '# of Votes',
                                data: myRealEstateChartValues,
                                backgroundColor: myRealEstateChartColores
                            }]
                        },
                        options: {

                        }
                    });
                }
            });



            $.ajax({
                url: "/Home/GetUserChartData", success: function (result) {
                    $(result).each(function (index) {
                        myUserChartLabels.push(result[index].key);
                        myUserChartValues.push(result[index].value);
                        myUserChartColores.push(result[index].color);
                    });
                    var userTypeChart = new Chart(userTypeCanvas, {
                        type: 'pie',
                        data: {
                            labels: myUserChartLabels,
                            datasets: [{
                                label: '# of Votes',
                                data: myUserChartValues,
                                backgroundColor: myUserChartColores
                            }]
                        },
                        options: {

                        }
                    });
                }
            });




        </script>

    }


